  .header-text{
    color: #97c93e !important;
  }


  #place-time img{
      width: 250px;
      height: 250px;
      object-fit: cover;
      border-radius: 50%;


  }

  #place-time{
    background-color: #343a40;
    color: white;
}

  #speakers img{
      object-fit: cover;
        width: 100%;
        height: 300px;
  }

  #image-me{
    align-items: center;
    justify-content: center;
    display: flex;
  }

/*   .card p{
    height: 230px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  } */

  .logo{
    width: 40%;
    object-fit: cover;
/*     filter: grayscale(65%);
 */
  }

 /*  .body{
    position: relative;
  }
 */
  .btn-platzi {
    background-color: #97c93e;
    color: white;
  }
  
  .btn-platzi:hover {
    background-color: #82ad36;
  }

  .header-logo{
    width: 50px;
    object-fit: cover;
  }