
h2,
h3,
h4,
h5,
h6{
    font-family: "Fjalla One", sans-serif;
    font-weight: normal;
}   

h1{
     font-size: 40px;
    line-height: 1.5;
    letter-spacing: -1px; 
    margin: 100px 400px 70px 30px; 
     color: white;
    margin: 0; 

    margin: top right bottom left; 
    text-transform: capitalize;
    text-decoration: dashed; 
}

h1 strong{
/*     color: #026fff;
 */
 color: #026fff;

}

 h2{
    color: #026fff;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 30px;
} 

.hero{
    padding: 20px;
    background-size: 100% 500px;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    flex-shrink: 0;
    margin-top: 70px;
/*     background-color: #283E51;
#1C3643;
 */
    background: url(/src/assets/static/fondo2.png),#283E51;
    
}

.hero-text{
    margin: auto;
    display: flex;
    align-self: center;
    justify-self: center;
    padding: 10px;
    
}

.hero-figure {
    width: 280px;
    align-self: center;
    justify-self: center;
}

.hero img{
    margin: 20px;
    width: 250px;
    border: 1px solid;
    background-color: white;    
    border-radius: 50%;
    padding: 10px;
}


@media only screen and (max-width: 950px){
.hero {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__text {
    width: 320px;
}
.hero img {
    width: 220px;
    
}
}





















