.Portfolio-container{
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 2rem;
}

.Portfolio-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 10px;
    position: relative;
    color: white;
  }