.skills-container{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 1rem;
}

/* .skills-title{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.skills-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 10px;
    position: relative;
    color: white;
}


  .skills{
    margin-top: 3rem;
  }

  .skills p{
    color: white;
  }


  .img-fluid{
    width: 250px;
    height: auto;
    object-fit: cover;
  }